# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [9]:
import pandas as pd
import numpy as np

In [10]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [4]:
def q1():
    # Retorne aqui o resultado da questão 1.
    return black_friday.shape
q1()

(537577, 12)

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [6]:
def q2():
    # Retorne aqui o resultado da questão 2.
    df_age_gender = black_friday.loc[(black_friday['Age'] == '26-35')&(black_friday['Gender'] == 'F')]
    return len(df_age_gender)
q2()

49348

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [8]:
def q3():
    # Retorne aqui o resultado da questão 3.
    df_unique_users = black_friday['User_ID'].unique()
    return len(df_unique_users)
q3()

5891

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [11]:
def q4():
    # Retorne aqui o resultado da questão 4.
    return len(black_friday.dtypes.unique())
q4()

3

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [25]:
def q5():
    # Retorne aqui o resultado da questão 5.
    
    df_sum_na = pd.DataFrame(black_friday.isna().sum(axis=1), columns=['sum_na2'])
    return(df_sum_na.loc[df_sum_na['sum_na2'] > 0]) / len(df_sum_na)
    #return len(df_sum_na.loc[df_sum_na['sum_na'] == 0])/len(df_sum_na)
q5()

         sum_na2
0       0.000004
2       0.000004
3       0.000002
4       0.000004
5       0.000002
7       0.000002
8       0.000002
9       0.000004
10      0.000002
11      0.000004
12      0.000004
15      0.000002
17      0.000002
20      0.000002
21      0.000004
22      0.000004
23      0.000004
25      0.000002
26      0.000004
27      0.000002
30      0.000002
31      0.000004
32      0.000004
33      0.000002
34      0.000004
35      0.000004
37      0.000002
40      0.000004
42      0.000002
45      0.000004
...          ...
537536  0.000002
537537  0.000002
537538  0.000002
537540  0.000004
537541  0.000002
537543  0.000002
537548  0.000004
537550  0.000004
537552  0.000002
537553  0.000002
537554  0.000002
537555  0.000002
537556  0.000002
537557  0.000004
537558  0.000002
537559  0.000002
537560  0.000002
537561  0.000002
537563  0.000004
537564  0.000002
537565  0.000004
537566  0.000004
537567  0.000002
537568  0.000004
537569  0.000002
537570  0.000002
537572  0.000002
537574  0.000002
537575  0.000004
537576  0.000002

[373299 rows x 1 columns]

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [13]:
def q6():
    # Retorne aqui o resultado da questão 6.
    return black_friday.isnull().sum().max()
q6()

373299

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [14]:
def q7():
    # Retorne aqui o resultado da questão 7.
    return black_friday['Product_Category_3'].mode()[0]
q7()

16.0

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [15]:
def q8():
    # Retorne aqui o resultado da questão 8.
    normalized_df = (black_friday['Purchase'] - black_friday['Purchase'].min())/(black_friday['Purchase'].max()-black_friday['Purchase'].min())
    return normalized_df.mean()
q8()

0.3847939036269795

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [16]:
def q9():
    # Retorne aqui o resultado da questão 9.
    standardized_df = (black_friday['Purchase'] - black_friday['Purchase'].mean())/black_friday['Purchase'].std()
    return len(standardized_df[abs(standardized_df) <= 1])
q9()

348631

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [17]:
def q10():
    # Retorne aqui o resultado da questão 10.
    df_na = black_friday.loc[black_friday['Product_Category_2'].isna()][['Product_Category_2', 'Product_Category_3']].isna()
    x = df_na['Product_Category_2'] == df_na['Product_Category_3']
    for _, test in enumerate(x):
        if test == False:
            validation = False
            break
        else:
            validation = True
    return validation
q10()

True