# Aceleradev Codenation - Semana 3
## Cesar Nascimento

## Desafio

A resposta deve conter os valores da média, mediana, moda e desvio padrão da pontuação de crédito para cada estado do dataset. O arquivo para submissão deve estar em formato json, conforme o arquivo exemplo “submission.json”.

Exemplo de saida:
{"SC": {"moda": 0.0, "mediana": 0.0, "media": 0.0, "desvio_padrao": 0.0}, "RS": {"moda": 0.0, "mediana": 0.0, "media": 0.0, "desvio_padrao": 0.0}, "PR": {"moda": 0.0, "mediana": 0.0, "media": 0.0, "desvio_padrao": 0.0}}

Colunas 

-‘id’: Identificador do cliente 
-‘sobrenome’: Sobrenome do cliente 
-‘pontuacao_credito’: Pontuação de crédito do cliente (quanto maior, melhor o cliente geralmente) 
-‘estado_residencia’: Estado de residência do cliente ‘genero’: Gênero do cliente 
-‘nivel_estabilidade’: Nível de estabilidade do cliente 
-‘saldo_conta’: Saldo disponível na conta do cliente 
-‘numero_produtos’: Número de produtos que o cliente consome 
-‘possui_cartao_de_credito’: Possui um cartão de crédito cadastrado 
-‘membro_ativo’: Membro acessa e consome frequentemente

Obs: Os dados são fictícios, mas tentam representar a realidade de uma base de clientes de um produto SaaS.

### Importando os pacotes

In [45]:
import pandas as pd
import json

In [46]:
df = pd.read_csv('desafio1.csv')

In [47]:
df.head(10)

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1
5,6,db5cf32c3fbc7c5d8f8313afca1d099de6dc055f,a596384ca70664af4c5fac9f935cff186b8e8bc0,645,RS,M,44,8,113755.78,2,1,0
6,7,8f3cc64a0a84bab38fefb030f09757d0cbf03bb2,abec3e525ab40e45975c91d4fa2bc7b318d93de4,822,SC,M,50,7,0.00,2,1,1
7,8,6704b822c203e2dda9f225dfc4f1bed2ae9044e6,336b42483e6a17f48eb040a251b5d6e64d1351a9,376,PR,F,29,4,115046.74,4,1,0
8,9,35f41954a87f722a3960e5fa8ce898a09398a564,53a417796c777851003b3f2431e8eef5625ec15b,501,SC,M,44,4,142051.07,2,0,1
9,10,f110be36fc6171a7da472b9cbac8698df880aac6,b89d09fc7719cb3c4a87e4a61cb87b3465e9d8ff,684,SC,M,27,2,134603.88,1,1,1

In [48]:
df.dtypes

RowNumber                     int64
id                           object
sobrenome                    object
pontuacao_credito             int64
estado_residencia            object
genero                       object
idade                         int64
nivel_estabilidade            int64
saldo_conta                 float64
numero_produtos               int64
possui_cartao_de_credito      int64
membro_ativo                  int64
dtype: object

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 12 columns):
RowNumber                   7000 non-null int64
id                          7000 non-null object
sobrenome                   7000 non-null object
pontuacao_credito           7000 non-null int64
estado_residencia           7000 non-null object
genero                      7000 non-null object
idade                       7000 non-null int64
nivel_estabilidade          7000 non-null int64
saldo_conta                 7000 non-null float64
numero_produtos             7000 non-null int64
possui_cartao_de_credito    7000 non-null int64
membro_ativo                7000 non-null int64
dtypes: float64(1), int64(7), object(4)
memory usage: 656.3+ KB

# Problema : Calcular medidas descritivas de cada estado

Para resolver esse desafio, vou considerar apenas as colunas estado e score do dataset

Exemplo de saida:
{"SC": {"moda": 0.0, "mediana": 0.0, "media": 0.0, "desvio_padrao": 0.0}, "RS": {"moda": 0.0, "mediana": 0.0, "media": 0.0, "desvio_padrao": 0.0}, "PR": {"moda": 0.0, "mediana": 0.0, "media": 0.0, "desvio_padrao": 0.0}}

In [50]:
df_score_por_estado = df[['pontuacao_credito','estado_residencia']]

In [52]:
df_score_por_estado.head(1)

   pontuacao_credito estado_residencia
0                619                SC

Agrupando o dataset por estado pelas suas analises descritivas

In [69]:
d = {'<lambda>': 'moda','median':'mediana','mean':'media', 'std':'desvio_padrao'}
result= df_score_por_estado.groupby('estado_residencia')['pontuacao_credito']\
    .agg([lambda x: x.value_counts().index[0],'median','mean','std'])\
    .rename(columns=d)\
    .reset_index()

In [ ]:
result.set_index('estado_residencia', inplace=True)

In [80]:
result = result.sort_values(by='estado_residencia', ascending = False)

In [84]:
result

                   moda  mediana       media  desvio_padrao
estado_residencia
SC                  850      653  649.537653      97.233493
RS                  850      650  651.105143      95.136598
PR                  850      650  648.961294      98.607186

In [89]:
result[["moda", "mediana","media","desvio_padrao"]] = result[["moda", "mediana","media","desvio_padrao"]].astype(float)

In [92]:
result.to_json('submission-test.json', orient='index' )